.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea los elementos verticalmente */
    border-bottom: 2px solid orange; /* Establece un borde superior de 2px de grosor y color naranja */
    height: 60px; /* Altura deseada del navbar */
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea los elementos verticalmente */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-item a {
  
    text-decoration: none; 
  }